body {
    width: 100%;
    height: 100%
}


/*
    The generic header used across the website to host all the pages
*/
.header {
    width: 95%;
    margin: auto;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img.logo {
    width: 128px;
    height: 128px;
}

/*
    Contains the generic description of the purpose for the website + stylish images
*/
.description {
    width: 100%;
    height: 300px;
    background-color: grey;
}

.recipe-scroll {
    width: 100%;
    height: 30px;
}